---
layout: workshop
root: .
venue: Facultad de Ciencias ULA / ABECyT
address: Av. Alberto Carnevalli, La Hechicera, Núcleo Universitario Pedro Rincón Gutiérrez, Edificio A
country: Venezuela
humandate: Oct 20-21, 2014
humantime: 9:00 am - 4:30 pm
startdate: 2014-10-20
enddate: 2014-10-21
latlng: 8.626678,-71.150508
registration: restricted
instructor: ["Francisco Palm"]
#helper: ["Software Carpentry"]
contact: admin@software-carpentry.org
#redirect: http://map0logo.github.io/2014-10-18-abecyt/
#eventbrite: 00000000000
lessons: ['Git', 'R', 'Python', 'SQL']
---
<!--
    Edit the values in the parameter block above to be appropriate for your workshop.
    Please use three-letter month names for the 'humandate' field.
-->

<!--
    This block includes the Eventbrite registration widget if 'eventbrite' has been set in the header.

    Maybe you need to change height value:

    - for one room use 206px,
    - for one waitlist room use 152px,
    - for two room use 254px,
    - for one waitlist room and one room use 253px,
    - for two waitlist room use 197px.
-->
{% if page.eventbrite %}
<iframe
  src="//www.eventbrite.com/tickets-external?eid={{page.eventbrite}}&ref=etckt" frameborder="0" width="100%" height="206px" scrolling="auto"></iframe>
{% endif %}

<h2>Información General</h2>

<p>
  La misión de <a href="//software-carpentry.org">Software Carpentry</a>
  es ayudar a los científicos e ingenieros a ser más productivos
  enseñándoles destrezas básicas de computación como el diseño de programas,
  control de versiones, gestión de datos y automatización de tareas.
  Este taller práctico de dos días cubre los conceptos y herramientas básicas;
  se animará a los participantes a ayudarse unos a otros
  y para aplicar lo que han aprendido a sus propios problemas de investigación.
</p>

<!--
    Modify this block to reflect the target audience for your workshop.
    In particular, if it is only open to people from a particular institution,
    or if specialized prerequisite knowledge is required, please mention that.
-->
<p>
  <strong>Quién:</strong>
  La actividad está dirigido a estudiantes universitarios con interés de mejorar
  sus destrezas en herramientas computacionales para la ciencia reproducible.
</p>

<!--
    This block displays the address and links to a map showing directions.
-->
{% if page.latlng %}
<p>
  <strong>Dónde:</strong>
  {{ page.address }}.
  Obtener direcciones con
  <a href="//www.openstreetmap.org/?mlat={{ page.latlng | replace:',','&mlon=' }}&zoom=16">OpenStreetMap</a>
  o
  <a href="//maps.google.com/maps?q={{ page.latlng }}">Google Maps</a>.
</p>
{% endif %}

<!--
    Modify the block below if there are any special requirements.
-->
<p>
  <strong>Requisitos:</strong>
  Los participantes deben traer un ordenador portátil con unos pocos
  paquetes de software específicos instalados (enumerados a continuación).
  También están obligados a cumplir con el
  <a href="http://software-carpentry.org/conduct.html">Código de Conducta</a>
  de Software Carpentry.
</p>

<!--
    This block automatically inserts a contact email address if one has been specified for the page.
    If one hasn't, this block inserts the generic contact address for Software Carpentry.
-->
<p>
  <strong>Contacto:</strong>:
  Por favor, para mas información envíe un correo electrónico a
  {% if page.contact %}
    <a href='mailto:{{page.contact}}'>{{page.contact}}</a>
  {% else %}
    <a href='mailto:{{site.contact}}'>{{site.contact}}</a>
  {% endif %}
</p>

<hr/>

<!--
    Edit this block to show the schedule for your workshop.
-->
<h2>Horario</h2>

<div class="row-fluid">
  <div class="span6">
    <h3>Día 1</h3>
    <table class="table table-striped">
      <tr> <td>08:00</td> <td>Bienvenida e instalación del software</td> </tr>
      <tr> <td>09:00</td> <td>Control de versiones con Git</td> </tr>
      <tr> <td><em>10:30</em></td> <td><em>Receso</em></td> </tr>
      <tr> <td>12:00</td> <td>Almuerzo</td> </tr>
      <tr> <td>14:00</td> <td>Construyendo programas con Python</td> </tr>
      <tr> <td><em>15:30</em></td> <td><em>Receso</em></td> </tr>
      <tr> <td>17:00</td> <td>Recapitulación</td> </tr>
    </table>
  </div>
  <div class="span6">
    <h3>Día 2</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td> <td>Construyendo Programas con R</td> </tr>
      <tr> <td><em>10:30</em></td> <td><em>Receso</em></td> </tr>
      <tr> <td>12:00</td> <td>Almuerzo</td> </tr>
      <tr> <td>14:00</td> <td>Gestión de datos con SQL</td> </tr>
      <tr> <td><em>15:30</em></td> <td><em>Receso</em></td> </tr>
      <tr> <td>17:00</td> <td>Recapitulación</td> </tr>
    </table>
  </div>
</div>

<hr/>

<!--
    Edit this block to show what topics will be covered.
-->
<h2>Programa de Estudios</h2>

<div class="row-fluid">
<!--
  <div class="span6">
    <h3>El Shell de Unix</h3>
    <ul>
      <li>Archivos y directorios: <code>pwd</code>, <code>cd</code>, <code>ls</code>, <code>mkdir</code>, ...</li>
      <li>Histria y completación tab</li>
      <li>Tuberías y redirección</li>
      <li>Recorrer archivos</li>
      <li>Creación y ejecución de scripts de shell</li>
      <li>Encontrando cosas: <code>grep</code>, <code>find</code>, ...</li>
      <li><a href="novice/ref/01-shell.html">Referencia...</a></li>
    </ul>
  </div>
-->
  <div class="span6">
    <h3>Programando en Python</h3>
    <ul>
      <li>Uso de bibliotecas</li>
      <li>Trabajando con arreglos</li>
      <li>Leyendo y graficando datos</li>
      <li>Creando y usando funciones</li>
      <li>Bucles y condicionales: <code>for</code>, <code>if</code>, <code>else</code>, ...</li>
      <li>Programación defensiva</li>
      <li>Usando Python desde la línea de comandos</li>
      <li><a href="novice/ref/03-python.html">Referencia...</a></li>
    </ul>
  </div>
  <div class="span6">
    <h3>Programando en R</h3>
    <ul>
      <li>Trabajo con vectores y data frames</li>
      <li>Leyendo y graficando datos</li>
      <li>Creando y usando funciones</li>
      <li>Bucles y condicionales: <code>for</code>, <code>if</code>, <code>else</code></li>
      <li>Usando R desde la línea de comandos</li>
      <li><a href="novice/ref/06-R.html">Referencia...</a></li>
    </ul>
  </div>
</div>

<div class="row-fluid">
  <div class="span6">
    <h3>Control de versiones con Git</h3>
    <ul>
      <li>Creando un repositorio</li>
      <li>Seguimiento de cambios en los archivos: <code>add</code>, <code>commit</code>, ...</li>
      <li>Visualizar cambios: <code>status</code>, <code>diff</code>, ...</li>
      <li>Ignorando archivos</li>
      <li>Trabajando en la web: <code>clone</code>, <code>pull</code>, <code>push</code>, ...</li>
      <li>Resolviendo conflictos</li>
      <li>Licencias Abiertas</li>
      <li>Donde hospedar el trabajo, y porque</li>
      <li><a href="novice/ref/02-git.html">Referencia...</a></li>
    </ul>
  </div>
  <div class="span6">
    <h3>Manejando datos con SQL</h3>
    <ul>
      <li>Leyendo y ordenando datos</li>
      <li>Filtros con <code>where</code></li>
      <li>Cálculo de nuevos valores sobre la marcha</li>
      <li>Manejo de valores faltantes</li>
      <li>Combinar valores utilizando agregación</li>
      <li>Combinar información de múltiples tablas utilizando <code>join</code></li>
      <li>Creación, modificación y eliminación de datos</li>
      <li>Programación con bases de datos</li>
      <li><a href="novice/ref/04-sql.html">Referencia...</a></li>
    </ul>
  </div>
</div>

<hr/>

<!--
    Edit the setup instructions in _includes/setup.html to reflect your workshop.
    (In particular, most workshops teach either Python or R, not both.)
-->

<h2>Configuración</h2>

<p>
   Para participar en un taller de Software Carpentry,
   usted necesitará copias funcionales del software que se describe a continuación.
   Por favor, asegúrese de instalar todo
   (o por lo menos descargar los instaladores)
   <em>antes</em> del inicio de su taller.
</p>

{% include setup.html %}
