<h3>Overview</h3>

<div class="row-fluid">
  <div class="span6">
    <h4>Editor</h4>
    <p>
      Cuando estás escribiendo código, es bueno contar con un editor de texto
      que esté optimizado para escribir código, con características
      como coloreado de sintaxis.
      El editor de texto por defecto en Mac OS X y Linux por lo general es Vim,
      que no es famoso por ser intuitivo.
      Si se encuentra accidentalmente atascado en vim,
      pruebe a escribir la tecla de escape,
      seguido por ": q!" (colon, minúscula 'q', signo de exclamación),
      a continuación, pulsar Intro
      para volver al shell.
    </p>
{% if page.lessons contains 'Bash' %}
    <h4>The Bash Shell</h4>
    <p>
      Bash es un intérprete de uso común. Utilizar un shell le da
      poder para hacer más tareas en su computadora con mayor rapidez.
    </p>
{% endif %}
{% if page.lessons contains 'Git' %}
    <h4>Git</h4>
    <p>
      Git es un sistema de control de versiones de última generación.
      Permite realizar seguimiento de quién hizo los cambios a qué y cuándo.
      Ofrece opciones para actualizar con facilidad de actualizar una versión
      compartida y/o pública de su código en
      <a href="https://github.com/"> github.com </a>.
    </p>
{% endif %}
  </div>
  <div class="span6">
{% if page.lessons contains 'Python' %}
    <h4>Python</h4>
    <p>
      Python se está volviendo muy popular en la computación científica,
      y es un excelente lenguaje para enseñanzar conceptos generales
      de programación debido a su sintaxis fácil de leer.
      Se enseña en este curso con la versión 2.7 de Python,
      ya que todavía es la versión mas difundida.
      Instalar todos los paquetes científicos para Python de forma individual
      puede ser un poco difícil, por lo que se recomienda un instalador
      todo-en-uno como <a href="https://store.continuum.io/cshop/anaconda/">Anaconda</a>.
    </p>
{% endif %}
{% if page.lessons contains 'R' %}
    <h4>R</h4>
    <p>
      <a href="http://www.r-project.org">R</a> es un lenguaje de programación
      que es especialmente potente para exploración de datos, visualización
      y análisis estadístico. Para interactuar con R, se usará
      <a href="http://www.rstudio.com/">RStudio</a>, un entorno
      de desarrollo interactivo (IDE).
    </p>
{% endif %}
{% if page.lessons contains 'SQL' %}
    <h4>SQL</h4>
    <p>
      SQL es un lenguaje de programación especializado que se utiliza con bases de datos.
      Se utiliza un gestor de base de datos simple llamado <a href="http://www.sqlite.org/">SQLite</a>,
      ya sea directamente o a través de un complemento para el navegador.
    </p>
{% endif %}
  </div>
</div>

<h3>Windows</h3>

<div class="row-fluid">
  <div class="span6">
{% if page.lessons contains 'Python' %}
    <h4>Python</h4>
    <ul>
      <li>
        Descargar e instalar <a href="https://store.continuum.io/cshop/anaconda/">Anaconda</a>.
      </li>
      <li>
        Utilice todos los valores por defecto para la instalación
        <em>except</em>
        asegurese de seleccionar <strong>Hacer Anaconda el Python por defecto</strong>.
      </li>
    </ul>
{% endif %}
{% if page.lessons contains 'Git' %}
    <h4>Git Bash</h4>
    <p>
      Instale Git para Windows descargando y ejecutando
      <a href="http://msysgit.github.io/">el instalador</a>.
      Esto le proveerá Git y Bash en el programa Git Bash.
    </p>
    <h4>El instalador Software Carpentry</h4>
    <p>Este instalador requiere de una conexión a Internet activa</p>
    <p>Después de instalar Python y Git Bash:</p>
    <ul>
      <li>
        Descargar el <a href="{{site.windows_installer_path}}">instalador</a>.
      </li>
      <li>
        Si el archivo se abre directamente en el navegador,
        seleccione <strong>File & rarr; Guardar página como</strong>
        para descargarlo a su computadora.
      </li>
      <li>
        Haga doble clic en el archivo para ejecutarlo.
      </li>
    </ul>
{% endif %}
  </div>
  <div class="span6">
    <h4>Editor</h4>
    <p>
      <code>nano</code> es el editor instalado por el Instalador Software Carpentry,
       es un editor básico integrado en el material de la lección.
    </p>
    <p>
      <a href="http://notepad-plus-plus.org/">Notepad++</a> es un
      popular editor de código gratuito para Windows.
      Considere que debe agregar su directorio de instalación en su ruta del sistema
      con el fin de lanzarlo desde la línea de comandos
      (o tener otras herramientas como Git que lo ejecuten por usted).
      Por favor pregunte a su instructor para ayudarle a hacer esto.
    </p>
{% if page.lessons contains 'R' %}
    <h4>R</h4>
    <p>
      Instalar R descargando e ejecutando
      <a href="http://cran.r-project.org/bin/windows/base/release.htm">este archivo .exe</a>
      desde <a href="http://cran.r-project.org/index.html">CRAN</a>.
      Además, por favor instale el 
      <a href="http://www.rstudio.com/ide/download/desktop">RStudio IDE</a>.
    </p>
{% endif %}
{% if page.lessons contains 'SQL' %}
    <h4>SQLite</h4>
    <p>
      Descargue el <a href="http://files.software-carpentry.org/sqlite3.exe">la aplicación sqlite3 </a>
      y pongalo en el directorio donde está ejecutando los ejemplos.
      Como alternativa, puede instalar el plugin para el navegador Firefox SQLite descrito
      <a href="#firefox-sqlite">abajo</a>.
    </p>
{% endif %}
  </div>
</div>
<!--
<h3>Mac OS X</h3>

<div class="row-fluid">
  <div class="span6">
{% if page.lessons contains 'Bash' %}
    <h4>Bash</h4>
    <p>
      The default shell in all versions of Mac OS X is bash,
      so no need to install anything.  You access bash from
      the Terminal (found
      in <code>/Applications/Utilities</code>).  You may want
      to keep Terminal in your dock for this workshop.
    </p>
{% endif %}
    <h4>Editor</h4>
    <p>
      We recommend
      <a href="http://www.barebones.com/products/textwrangler/">Text Wrangler</a> or
      <a href="http://www.sublimetext.com/">Sublime Text</a>.
      In a pinch, you can use <code>nano</code>,
      which should be pre-installed.
    </p>
{% if page.lessons contains 'Git' %}
    <h4>Git</h4>
    <p>

      <strong>For OS X 10.8 and higher</strong>, install Git for Mac by downloading and running
	  <a href="http://git-scm.com/downloads">the installer</a>.
      <strong>For older versions of OS X (10.5-10.7)</strong> use the most recent available
      installer for your OS <a href="https://code.google.com/p/git-osx-installer/downloads/list">available
      here</a>. Use the Leopard installer for 10.5 and the Snow Leopard
      installer for 10.6-10.7.
    </p>
{% endif %}
  </div>
  <div class="span6">
{% if page.lessons contains 'Python' %}
    <h4>Python</h4>
    <ul>
      <li>
        Download and install  <a href="https://store.continuum.io/cshop/anaconda/">Anaconda</a>.
      </li>
      <li>
        Use all of the defaults for installation
        <em>except</em>
        make sure to check <strong>Make Anaconda the default Python</strong>.
      </li>
    </ul>
{% endif %}
{% if page.lessons contains 'R' %}
    <h4>R</h4>
    <p>
      Install R by downloading and running
      <a href="http://cran.r-project.org/bin/macosx/R-latest.pkg">this .pkg file</a>
      from <a href="http://cran.r-project.org/index.html">CRAN</a>.
      Also, please install the
      <a href="http://www.rstudio.com/ide/download/desktop">RStudio IDE</a>.
    </p>
{% endif %}
{% if page.lessons contains 'SQL' %}
    <h4>SQLite</h4>
    <p>
      <code>sqlite3</code> comes pre-installed on Mac OS X.
      Alternatively,
      you may install the Firefox SQLite browser plugin described <a href="#firefox-sqlite">below</a>.
    </p>
{% endif %}
  </div>
</div>
-->
<h3>Linux</h3>

<div class="row-fluid">
  <div class="span6">
{% if page.lessons contains 'Bash' %}
    <h4>Bash</h4>
    <p>
      El shell por defecto es usualmente <code>bash</code>,
      pero si tiene una configuración diferente en su máquina
      puede ejecutarlo abriendo un terminal y escribiendo <code>bash</code>.
      No hay necesidad de instalar nada.
    </p>
{% endif %}
{% if page.lessons contains 'Git' %}
    <h4>Git</h4>
    <p>
      Si Git no está ya disponible en su máquina puede intentar
      instalarlo a través del gestor de paquetes de su distribución
      (por ejemplo <code>apt-get</code> o <code>yum</code>).
    </p>
{% endif %}
    <h4>Editor</h4>
    <p>
      <a href="http://kate-editor.org/">Kate</a> y <a href="https://wiki.gnome.org/Apps/Gedit">gedit</a>
      son opciones para usuarios de Linux.
      En caso de necesidad, puede utilizar <code>nano</code>,
      el cual debe estar preinstalado.
    </p>
{% if page.lessons contains 'R' %}
    <h4>R</h4>
    <p>
      Puede descargar los archivos binarios para su distribución
      de <a href="http://cran.r-​​project.org/index.html">CRAN</a>. o
      puede utilizar el gestor de paquetes, por ejemplo, para Debian/Ubuntu
      ejecutar <code>apt-get install r-base</code> o <code>yum install R</code>.
      Además, instale por favor
      <a href="http://www.rstudio.com/ide/download/desktop">RStudio IDE</a>.
    </p>
{% endif %}
{% if page.lessons contains 'SQL' %}
    <h4>SQLite</h4>
    <p>
      <code>sqlite3</code> viene pre-instalado para Linux.
      Alternativamente,
      puede instala el complemento de Firefox "SQLite Manager" descrito <a href="#firefox-sqlite">abajo</a>.
    </p>
{% endif %}
  </div>
  <div class="span6">
{% if page.lessons contains 'Python' %}
    <h4>Python</h4>
    <p>
      Recomendamos el instalador todo-en-uno de Python científico
      <a href="http://continuum.io/downloads.html">Anaconda</a>.
      (La instalación requiere el uso del shell y si no está
      cómodo haciendo la instalación por su cuenta, solamente
      descargue el instalador y le ayudaremos al inicio del taller.)
    </p>
    <ol>
      <li>
        Descarga el instalador que corresponda a su sistema
        operativo y guardelo en la carpeta de inicio.
      </li>
      <li>
        Abra una ventana del terminal.
      </li>
      <li>
        Escriba <pre>bash Anaconda-</pre> y presione
        tab. El nombre del archivo que acaba de desacargar debería
        aparecer.
      </li>
      <li>
        Pulse enter. Usted seguirá indicaciones de sólo texto.
        Cuando hay dos puntos en la parte inferior de la
        pantalla pulse la flecha hacia abajo para desplazarse
        hacia abajo a través del texto.
        Escriba <code>sí</code> y pulse enter para aprobar
        la licencia. Pulse enter para aprobar la ubicación por
        defecto de los archivos. Escriba <code>sí</code> y
        pulse enter para anteponer a Anaconda en
        su <code>PATH</code> (esto hace que Anaconda
        sea su distribución Python por defecto).
      </li>
    </ol>
{% endif %}
  </div>
</div>

<h3>Todos los sistemas operativos</h3>

<div class="row-fluid">
  <div class="span6">
{% if page.lessons contains 'SQL' %}
    <h4 id="firefox-sqlite">El complemento de Firefox "SQLite Manager"</h4>
    <p>
      En lugar de utilizar <code>sqlite3</code> desde la línea de comandos,
      puede utilizar <a href="https://addons.mozilla.org/en-US/firefox/addon/sqlite-manager/">este complemento</a>
      para Firefox.
      Para instalarlo:
    </p>
    <ul>
      <li>
	Inicie Firefox.
      </li>
      <li>
	Vaya al <a href="https://addons.mozilla.org/en-US/firefox/addon/sqlite-manager/">sitio web del complemento</a>.
      </li>
      <li>
	Haga clic en el botón "Añadir ahora"
      </li>
      <li>
	Haga clic en "Instalar ahora" en el diálogo que aparece después que se completa la descarga.
      </li>
      <li>
	Reinicie Firefox cuando lo indiquen.
      </li>
      <li>
	Para comprobar que el complemento fue instalado correctamente, seleccione "SQLite Manager" desde el menú "Herramientas".
      </li>
    </ul>
    <p>
      En las versiones mas recientes de Firefox, la barra del menú no aparece siempre.
      Para hacer que aparezca, utilice la tecla <code>Alt</code> que está al lado de la
      barra espaciadora de su teclado, o consulte la 
      <a href="https://support.mozilla.org/en-US/kb/what-happened-to-the-file-edit-and-view-menus">página de soporte</a>
      de Firefox para ayuda adicional.
    </p>
{% endif %}
  </div>
  <div class="span6">
{% if page.lessons contains 'VM' %}
    <h4>Virtual Machine</h4>
    <p>
      Algunos instructores prefieren que los alumnos utilicen una
      máquina virtual (VM) en lugar de instalar el software en sus
      propios equipos.
      Si sus instructores han elegido hacer esto,
      por favor:
    </p>
    <ol>
      <li>
	Instale <a href="https://www.virtualbox.org/">VirtualBox</a>.
      </li>
      <li>
	Descargue nuestra <a href="{{site.vm_url}}">imagen VM</a>.
	<strong>Advertencia:</strong>
	este archivo es de 1.7 GByte,
	por favor descarguelo <em>antes</em> de venir a nuestro taller.
      </li>
      <li>
	Cargue la VM en VirtualBox seleccionando "Import Appliance"
	y cargar el archivo <code>.ova</code>.
      </li>
    </ol>
{% endif %}
  </div>
</div>
